<div id="remote-app-app-container" class="remote-app-app-container">
    <div >
      <p>
        Remote App Two
        <br />
        User Service Id: {{ userService["unique_id"] }}.
      </p>
        @for (item of [
          { title: 'Date Entry Component', link: 'date-entry-one', internal: true }
        ]; track item.title) {
          <a class="pill"
            [routerLink]="item.internal ? item.link : null"
            [href]="!item.internal ? item.link : null"
            [rel]="!item.internal ? 'noopener' : null">
            <span>{{ item.title }}</span>
          </a>
        }
      </div>
      <router-outlet></router-outlet>
</div>